.linkmap_page {
  $arrow-margin: 30px;
  $arrow-margin-mobile: 10px;

  .arrow_left,
  .arrow_right,
  .arrow_up,
  .arrow_down {
    position: absolute;
    width: 80px;
    height: 80px;
    text-decoration: none;
    pointer-events: none;
    z-index: 10;
    display: block;

    @include phone {
      @include transform(scale(0.5))
    }

    &:before {
      color: #fff;
      width: 100%;
      position: absolute;
      height: 100%;
      text-align: center;
      font-size: 80px;
      line-height: 80px;
      opacity: 0;
      text-shadow: 2px 2px 7px black, -1px -1px 7px black;
      @include transition(opacity 0.3s);
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    .invert & {
      &:before {
        color: black;
        text-shadow: 2px 2px 7px black, -1px -1px 7px white;
      }
    }
  }

  .arrow_left,
  .arrow_right {
    margin-top: -40px;
    top: 50%;
  }

  .arrow_up,
  .arrow_down {
    left: 50%;
  }

  .arrow_left {
    @include fa-angle-left-icon;
    left: 10px;

    @include phone {
      left: $arrow-margin-mobile;
    }
  }

  .arrow_right {
    @include fa-angle-right-icon;
    right: $arrow-margin;
    @extend %pageflow_widget_margin_right !optional;

    @include phone {
      right: $arrow-margin-mobile;
    }

    .emulation_mode_phone & {
      margin-right: 0;
      right: $arrow-margin-mobile;
    }
  }

  .arrow_up {
    @include fa-angle-up-icon;
    top: $arrow-margin;

    @include phone {
      top: 0;
    }
  }

  .arrow_down {
    @include fa-angle-down-icon;
    bottom: $arrow-margin;

    @include phone {
      bottom: 0;
    }
  }

  .linkmap_panorama_h &.can_scroll_left .arrow_left:before {
    opacity: 1;
  }

  .linkmap_panorama_h  &.can_scroll_right .arrow_right:before {
    opacity: 1;
  }

  .linkmap_panorama_v &.can_scroll_up .arrow_up:before {
    opacity: 1;
  }

  .linkmap_panorama_v &.can_scroll_down .arrow_down:before {
    opacity: 1;
  }
}
