.editor {
  @import "./editor/inputs/area_mask";
  @import "./editor/areas_list";
  @import "./editor/select_area_position_hint";
}

.linkmap_areas {
  @import "./editor/resizable";
  @import "./editor/action_buttons";
  @import "./editor/masks_preview";
  @import "./editor/area_outlines";

  .area_type_pictogram {
    @include background-icon-center($color: #fff);
    @include link-icon;
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
  }

  .page_area,
  .external_site_area,
  .text_only_area {
    .linkmap_audio_player_controls {
      display: none !important;
    }
  }

  &.editable {
    pointer-events: all;

    .click_trap {
      cursor: default;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }

    .hover_area {
      z-index: 2;
    }

    .without_mask.selected .click_trap {
      cursor: move;
    }

    .hover_area.selected {
      z-index: 3;

      .area_type_pictogram {
        display: block;
      }

      &.editing .area_type_pictogram {
        display: none;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        @include box-sizing(border-box);
      }

      &:before {
        border: solid 2px #000;
      }

      &:after {
        border: solid 2px #fff;
        @include animation(blink 3s linear infinite);
      }
    }

    .audio_file_area {
      &:before {
        border-color: #006add;
      }

      .area_type_pictogram {
        @include note-icon;
      }
    }

    .text_only_area {
      &:before {
        border-color: pink;
      }

      .area_type_pictogram {
        @include feather-icon;
      }
    }
  }
}